* {
    margin: 1px;
    padding: 1px;
    font-family: "Calibri, sans-serif";
    font-size: 15px;
}

#main {
    margin-left: 400px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/pexels-edward-jenner-4031867.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

input {
    width: 15%;
    padding: 10px;
    margin: 25px;
    display: inline-block;
    border: 2px solid rgb(168, 165, 165);
    box-sizing: border-box;
    background-color: rgb(181, 247, 247);
    font-weight: bolder;
}

button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 2px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

#cases {
    margin-top: 20px;
}