* {
    margin: 1px;
    padding: 1px;
    font-family: "Calibri, sans-serif";
    font-size: 15px;
}

.main {
    margin: 25px 50px 15px 250px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/pexels-edward-jenner-4031867.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}

input {
    width: 16%;
    padding: 10px;
    margin: 25px;
    display: inline-block;
    border: 2px solid rgb(168, 165, 165);
    box-sizing: border-box;
    background-color: rgb(181, 247, 247);
    font-weight: bolder;
}

button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 2px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.cases {
    height: 30%;
    width: 40%;
    color: white;
    text-align: center;
    margin: 25px 50px 15px 350px;
}

#list {
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caseDesc {
    padding: 10px 0;
}

.caseByDiv {
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: rgb(59, 59, 235);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

@media screen and (max-width: 800px) {
    input {
        width: 100%;
    }
    .main {
        margin: 25px;
        text-align: center;
    }
    .cases {
        margin: auto;
    }
}